html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: Quicksand;
}
header {
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpeg) no-repeat;
  background-size: cover;
}
.dropdown-content {
  text
}
.brand-logo {
  position: fixed;
  float: left;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav {
  width: 100%;
}
nav ul {
  list-style: none;


  padding-left: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}
.modal-content {
  color: black;
}
nav ul li a { /* agit sur la police des onglet*/


  font-size: 20px;
}
#shopping_cart{
position: center;
color: #8bc34a;
}
