h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
  color:red ;
}
ul{
  font-size: 12px;
}
<<<<<<< HEAD
.large material-icon {
  position: right;
}
@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    background: #000;
  }
  nav.black ul {
    background: #000
  }
  .showing {
    max-height: 20em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
  .menu-icon {
    display: block;
  }
=======
.card{
  margin-bottom: 10px;
>>>>>>> 968955f2b57571b2639638f4dd8b33ee96f1328b
}
.article {
  display: inline-block;
}
.articleName {
  text-align: center;
}
